<%= form_for ([@camp, @aim]) do |f| %>

  <p>
    <%= f.label :scopo %><br />
    <%= f.text_field :scopo %>
    <%= f.label :importo %><br />
    <%= f.number_field :importo %>
  </p>

  <p><%= f.submit "Effettua transizione"%></p>
<% end %>