

<div class="modal-header">
    <a href="#" class="btn btn-success pull-right" data-dismiss="modal">&times;</a>
    <h3 id="myModalLabel">Nuovo Scopo</h3>
</div>
<div class="modal-body">

<%= form_for ([@camp, @aim]) do |f| %>

  <p>
    <%= f.label :scopo %>
    <%= f.text_field :scopo %>
    <br />
    <%= f.label :importo%>
    <%= f.number_field :importo%>
  </p>


 <%= f.submit "Aggiungi", :class => 'btn btn-primary'%>


</div>

<% end %>