<h1>Listing aims</h1>

<table>
  <thead>
    <tr>
      <th>Scopo</th>
      <th>Importo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @aims.each do |aim| %>
      <tr>
        <td><%= aim.scopo %></td>
        <td><%= aim.importo %></td>
        <td><%= link_to 'Show', aim %></td>
        <td><%= link_to 'Edit', edit_aim_path(aim) %></td>
        <td><%= link_to 'Destroy', aim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aim', new_aim_path %>
