<p id="notice"><%= notice %></p>

<p>
  <strong>Scopo:</strong>
  <%= @aim.scopo %>
</p>

<p>
  <strong>Importo:</strong>
  <%= @aim.importo %>
</p>

<p>
  <strong>Versamento id:</strong>
  <%= @aim.bill_id %>
</p>

<%= link_to 'Edit', edit_aim_path(@aim) %> |
<%= link_to 'Back', aims_path %>
