<% @campaigns.each do |campaign| %>
<div class="well well-small">
    <div class="span9">
            <h4> <%= link_to campaign.nome, campaign_path(campaign) %> </h4>
        </div>
        <div class="span3">
            <div class="btn btn-default right">
                <%= link_to "Dettagli", campaign_path(campaign) %>
            </div>
            <% if can? :create, Bill %>
                <div class="btn btn-success">        
                    <%= link_to "Versamento", new_campaign_bill_path(campaign) %>  
                </div>
            <% end %>
        </div>
    <hr>
    <hr>


    <div class="row-fluid">
        <div class="span4">
            <div class="thumbnail">
                <img src="<%= image_path("300x200.gif") %>" alt="">
            </div>

            <div id="countDownTimer<%= campaign.id %>"></div>
                <script>
                    var year = <%= campaign.durata.year %>;
                    var month = <%= campaign.durata.month %>;
                    var day = <%= campaign.durata.day %>;
                    var dealEndDate = new Date();
                    dealEndDate = new Date(year, month - 1, day);
                    $('#countDownTimer<%= campaign.id %>').countdown({until: dealEndDate});
                </script>

        </div>
        <div class="span5">
            <%= campaign.descrizione.truncate(300, :separator => ' ')%>
        </div>
        <div class="span3 pagination-centered">
            Raccolti <%=campaign.somma%> su <%=campaign.goal%>
            <% @temp=campaign.somma * 100 /campaign.goal%>
            <!-- permette di fermare riempimento cuore al 100%-->
            <% if @temp >= 100 %>
              <% @perc="height: 100%" %>
            <%else%>
              <% @perc="height: "+@temp.to_s+"%" %>
            <%end%>
            <div class="contenitoreCuore">
                <div class="heart">
  
                </div>
                <div class="liquid" style="<%=@perc %>"   > </div>   
            </div>

        </div>
    </div>
 
</div>

       
<% end %>





