<% if user_signed_in? %>

<h3>Benvenuto <%= current_user.nome%> <%=current_user.cognome%> </h3>
<%= link_to "Il mio account", user_path(current_user) %>
<%= link_to "Modifica il tuo account", edit_user_registration_path, :method => :get %>
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<%= link_to "Le mie campagne", mycampaigns_path, :method => :get %>

<% else %>

<h1> Benvenuto al sito di donazioni</h1>
<%= link_to "Sign In", new_user_session_path, :method => :get %>
<%= link_to "Sign up", new_user_registration_path, :method => :get %>

<% end %>
<%- model_class = Campaign -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:descrizione) %></th>
      <th><%= model_class.human_attribute_name(:durata) %></th>
      <th><%= model_class.human_attribute_name(:goal) %></th>
      <th><%= model_class.human_attribute_name(:chiusa) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= link_to campaign.id, campaign_path(campaign) %></td>
        <td><%= campaign.nome %></td>
        <td><%= campaign.descrizione %></td>
        <td><%= campaign.durata %></td>
        <td><%= campaign.goal %></td>
        <td><%= campaign.chiusa %></td>
        <td><%=l campaign.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
